.product-similar__slider .swiper-slide {
  width: calc(33.3% - 16px);
}

.product-similar__slider .product-card {
  display: flex;
}

.product-similar__slider .product-card {
  width: 90%;
  margin: 0;
}

.slider-controls:active {
  pointer-events: all;
}
